[google_spreadsheet]
id=
sheet_name=
row_start=

[google_drive]
qr_folder_id=

[google_form]
link=
serial_number_id=
price_id=

[serial_code]
lowercase=
uppercase=
digit=
symbol=

[qr_code]
size_x=
size_y=
position_x=
position_y=

[voucher_count]
voucher_template_name=_count_

[printing]
voucher_height=
voucher_folder=
pdf_folder=
pdf_name=
pdf_page_size=
pdf_orientation=